#dashboard-header {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: $color-white;
  padding: 20px 10px;
  box-shadow: 0px 2px 4px $color-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    padding-top: 40px;
  }

  li {
    margin-bottom: 30px;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $color-text;
      font-size: 0.8em;
      width: 90%;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      height: 50px;
      margin-bottom: 5px;
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

button.btn {
  background-color: $color-orange;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-size: 0.8em;
  color: $color-white;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px $color-shadow;
  cursor: pointer;
  transition: all .2s ease;

  &:hover {
    background-color: $color-orange-secondary;
    box-shadow: inset 0 1px 3px $color-shadow;
  }
}

#dashboard-main {
  padding: 83px 50px 50px 180px;
  height: 100vh;
  overflow: scroll;

  h1 {
    border-bottom: 2px solid $color-orange;
  }

  .card {
    background-color: $color-white;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px $color-shadow;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    height: 180px;
    align-content: center;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    & > img {
      width: 100%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    p {
      align-self: center;
      justify-self: center;
    }

    .title-img {
      padding-left: 20px;
    }

    .category-tag {
      background-color: $color-orange-secondary;
      padding: 10px 20px;
      border-radius: 30px;
      color: $color-white;
      font-size: 0.8em;
      text-transform: uppercase;
    }

    .action {
      display: flex;
      justify-content: space-around;
      align-items: center;

      button {
        background-color: none;
        border: none;
        width: 40px;
        cursor: pointer;

        img {
          width: 100%;
        }
      }
    }
  }

  


}
