.hide {
  display: none; 
}


.add-new.hide {
  transition: opacity 2s linear;  
  transform: translate(9999px);
  opacity: 0;
}

.show {
  padding: 30px;
  display: grid;
  
  grid-template-columns: repeat(4, 1fr);
  background-color: $color-white;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 4px $color-shadow;
  height: 180px;

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-self: center;

    &.category-field {
      justify-self: center;
    }
  }

  input {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
  }

  select {
    margin-top: 40px;
  }

  button {
    align-self: center;
    justify-self: center;
  }
}

@media (max-width: 700px) {
  .show {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    height: auto;
  }
}

.add-new.show {
  transition: opacity 2s linear;  
  transform:translate(0);
  opacity: 1;
}

