body {
  background-color: $color-bg;
}

#site-header {
  background: url('/images/hero-bg.png') no-repeat 0 0;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    background-color: $color-white;
    padding: 20px 20px 40px;
    box-shadow: 0px 2px 4px $color-shadow;
    width: 90%;
    margin: auto;
    font-size: 0.875em;
    div:first-child {
      text-align: center;
    }
  }

  article {
    div {
      text-align: center;
    }

    h1 {
      font-size: 2.4em;
      margin-bottom: 20px;
      line-height: 1.1;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 5px;
      text-transform: uppercase;
      color: $color-orange;
      font-size: 1.1em;
      line-height: 1.2;
    }
  }

  hr {
    border: none;
    border-bottom: 2px solid $color-orange;
    width: 90%;    
    margin: 30px auto;
  }

  @media (min-width: 600px) {
    section {
      max-width: 888px;
      padding: 40px;

      div {
        margin-bottom: 30px;
      }

      article {
        text-align: left;
        &.description {
          padding-left: 50px;
          border-left: 2px solid $color-orange;
  
          p {
            font-size: 1.25em;
          }
        }
        h1 {
          margin: 0 60px 20px 0;
          font-size: 3em;
          line-height: 1.2;
        }
        h2:nth-child(3) {
          margin-bottom: 0;
        }
      }
      hr {
       display: none;
      }
    }
  }
}

#site-main {
  .intro {
    width: 100%;
    margin: 50px auto;
    text-align: center;
    padding: 0 25px;

    @media (min-width: 600px) {
      width: 50%;
      padding: 40px 25px;

      &:last-child {
        .primary {
          display: inline-block;
          margin-top: 30px;
  
        }
      }
    }
  }

  .product-overview {
    overflow: hidden;
  
    article {
      padding: 20px 0;

      &:nth-child(odd) {
        background-color: $color-white;
      }

      & > * {
        margin: 0 20px;
      }

      .slider {
        margin: 0;
        position: relative;
      }

      div {
        margin: 0;
      }

      .carousel {
        height: 460px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        box-shadow: 0 2px 4px $color-shadow;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $color-orange;
          opacity: .2; 
          z-index: 10;
          width: 300%;
        }

        img {
          min-height: 100%;

           @media (min-width: 600px) {
             width: 100%;
           }
        }

        @media (min-width: 600px) {
          width: 100%;
          height: 600px;
          display: block;
        }
      }

      .product-info {
        @media (min-width: 600px) {
          align-self: end;
          padding-bottom: 40px;
          padding-right: 30%;
          padding: 0 40% 80px 40px;
        }
      }

      h3 {
        text-transform: uppercase;
        color: $color-orange;
        font-size: 1.8rem;
        margin-bottom: 10px;
      }

      .title-underline {
        display: block;
        width: 25%;
        height: 3px;
        background-color: $color-text;
      }

      p {
        margin-bottom: 5px;
      }

      a {
        font-size: 0.8rem;
        color: $color-orange-secondary;
        font-weight: 600;
      }

      @media (min-width: 600px) {
        display: grid;
        grid-template-columns: 58% 1fr;

        &:nth-child(even) {
          grid-template-columns: 1fr 58%;

          .product-info {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            padding: 0px 20% 80px 20%;
          }

          .carousel {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
          }
        }
      }
    }
  }
}

.primary {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  margin-top: 20px;
}

footer {
  text-align: center;
  background-color: $color-white;
  padding: 25px;

  a {
    display: block;
    font-weight: 300;
    color: $color-text;
  }

  p {
    margin: 0 auto 30px;
    font-weight: 600;

    @media (min-width: 600px) {
      width: 50%;
    }
  }
}

.validation {
  background-color: $color-orange-secondary;
  color: $color-white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  text-align: center;
}