body {
  background-color: $color-bg;
}

#site-header {
  background: url('/images/hero-bg.png') no-repeat 0 0;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  section {
    background-color: $color-white;
    padding: 20px 20px 40px;
    box-shadow: 0px 2px 4px $color-shadow;
    width: 90%;
    margin: auto;
    font-size: 0.875em;
  }

  article {
    div {
      text-align: center;
    }

    h1 {
      font-size: 2.4em;
      margin-bottom: 20px;
      line-height: 1.1;
    }

    h2 {
      margin-top: 0;
      text-transform: uppercase;
      color: $color-orange;
      font-size: 1.1em;
      line-height: 1.2;
    }

    a {
      display: block;
      text-align: center;
      font-weight: 700;
      font-size: 1em;
      margin-top: 20px;
    }
  }

  hr {
    border: none;
    border-bottom: 2px solid $color-orange;
    width: 90%;    
    margin: 30px auto;
  }
}

#site-main {
  .intro {
    width: 90%;
    margin: 50px auto;
    text-align: center;
  }
}

.validation {
  background-color: $color-orange-secondary;
  color: $color-white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 0;
  text-align: center;
}