#login-main {
  background: url('/images/hero-bg.png') no-repeat 0 0;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    background-color: $color-white;
    box-shadow: 0px 2px 4px $color-shadow;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 500px;
    border-radius: 20px;

    hr{ 
      border: none;
      border-left: 2px solid $color-orange;
      height: 300px;
      width: 2px;    
      margin: 20%;   
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: space-around;
    }

    fieldset {
      border: none;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 0;

      input {
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 0.8em;
        border: none;
        box-shadow: 0px 2px 4px $color-shadow;
        margin-top: 15px;
      }
    }

    .btn {
      margin-top: 20px;
    }
  }
}