#error-main {
  .masked-copy { 
    -webkit-background-clip: text;
    color: transparent !important; 
  
    &.texture-orange {
      color: $color-orange-secondary;
      background-image: url('/images/hero-bg.png');
      background-repeat: no-repeat;
    }
  }

  h1 {
    font-size: 10rem;
    line-height: 1;
    margin: 0;
  }

  h2 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.3px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 600px) {
  #error-main {
    h1 {
      font-size: 25rem;
      line-height: 1;
      margin: 0;
    }
  }
}