.product-overview {
  img {
    width: 100%;
  }
  
  article {
    padding-bottom: 20px;

    &:nth-child(odd) {
      background-color: $color-white;
    }

    & > * {
      margin-left: 20px;
    }

    .carousel {
      padding-top: 20px;
    }

    div {
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
      color: $color-orange;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    .title-underline {
      display: block;
      width: 25%;
      height: 3px;
      background-color: $color-text;
    }

    p {
      margin-bottom: 5px;
    }

    a {
      font-size: 0.8rem;
      color: $color-orange-secondary;
    }
  }
}
