
@media (min-width: 600px) {
  .container-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.product-overview {
  
  article {
    padding: 20px 0;

    &:nth-child(odd) {
      background-color: $color-white;
    }

    & > * {
      margin-left: 20px;
    }

    div {
      margin: 0;
    }

    .carousel {
      @media (min-width: 600px) {
        width: 55%;
        height: 460px;
        overflow: hidden;
      }
    }

    h3 {
      text-transform: uppercase;
      color: $color-orange;
      font-size: 1.8rem;
      margin-bottom: 10px;
    }

    .title-underline {
      display: block;
      width: 25%;
      height: 3px;
      background-color: $color-text;
    }

    p {
      margin-bottom: 5px;
    }

    a {
      font-size: 0.8rem;
      color: $color-orange-secondary;
    }
  }
}
