<form method="POST" action="/private/login">
  <label for="username">Username</label>
  <input id="username" type="text" placeholder="Username" name="username">

  <label for="password">Password</label>
  <input id="password" type="password" placeholder="Passwords" name="password">

  <button type="submit">Login</button>
</form>